huggingface_hub
pandas
torch
torchaudio==2.3.1  # specify version to avoid compatibility issues
librosa
numpy==2.2.0  # specify version to avoid issues with numpy 2.3.0
scipy
torchinfo
safetensors
matplotlib
seaborn
scikit-learn
plotly  # optional, for the dash app
dash  # optional, for the dash app
